release:
  enabled: true

subPackages:
  - /frontend

docker:
  defaultTag: latest
  autoTags: [main, latest, next]

docs:
  location: /docs

  externalTypes:
    - c0rejs/core
    - c0rejs/result

  aliases:
    /api: https://raw.githubusercontent.com/c0rejs/core/main/docs/api.md

  app:
    api:
      url: wss://localhost/api
    rpc:
      url: ws://localhost:81/api
